<!DOCTYPE html>
<html>

<head>
  <title>Home</title>
  <meta name="description" content="A project for freeCodeCamp's Information Security and Quality Assurance certification">
  <link id="favicon" rel="icon" type="image/x-icon" href="https://cdn.glitch.com/054d6fec-0cd3-4178-adb4-a9494acddb2f%2Ffavicon.jpg?1556542126282">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/public/style.css">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
  
  <!-- We'll be using jQuery to handle our form submissions, dynamic content updates, and our nav menu behaviours, so let's make sure it's available to our page (in
  HTTPS because our whole site is HTTPS). We can get the SRI Hash from https://www.srihash.org to help ensure that the third-party hosted resource hasn't been tampered with. -->
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"
    integrity="sha384-JUMjoW8OzDJw4oFpWIB2Bu/c6768ObEthBMVSiIx4ruBIEdyNSUQAjJNFqT5pnJ6"
    crossorigin="anonymous">
  </script>
  
</head>



<body>
  
  <div class="bezel">
    
    <div class="container">
      
      <div class="nav">
        
        <div class="statusBar">
          <img src="https://cdn.glitch.com/054d6fec-0cd3-4178-adb4-a9494acddb2f%2Ficons8-wi-fi-filled-50.png?1558017937306" alt="WiFi signal symbol">
          <img src="https://cdn.glitch.com/054d6fec-0cd3-4178-adb4-a9494acddb2f%2Ficons8-signal-filled-50.png?1558018005620" alt="Phone signal strength symbol">
          <span>27%</span>
          <img src="https://cdn.glitch.com/054d6fec-0cd3-4178-adb4-a9494acddb2f%2Ficons8-battery-level-filled-50.png?1558017813618" alt="battery symbol">
          <span id="clock"></span>
        </div>
        
        <div class="top-nav">
          <h1>Anonymous Message Board</h1>
          
          <div id="burger">
            <span class="burger-line"></span>
            <span class="burger-line"></span>
            <span class="burger-line"></span>
          </div>
          
        </div>
        
        <ul id="menu">
          <a class="menu-item" href="/"><li>Home</li></a>
          <a class="menu-item" href="/user-stories"><li>User Stories</li></a>
          <a class="menu-item" href="/api-testing-forms"><li>API-Testing Forms</li></a>
          <a class="menu-item" href="/project-details"><li>Project Details</li></a>
        </ul>

      </div>
      
      
      <form>
        <h4>Create a New Thread in an Existing Messaging Board, or Start a New Board</h4>
        <input type="text" placeholder="Name of message board to add thread to" id="board1" name="board" required><br>
        <textarea type="text" placeholder="Thread text..." name="text" required></textarea><br>
        <input type="text" placeholder="Password for deleting this thread later on" name="delete_password" required><br>
        <input type="submit" value="Create New Thread">
      </form>
      
            
      <div id="boardList">
        <h4>Existing Messaging Boards</h4>
      </div>
      
      
    </div>  <!-- END of DIV class=container -->
    
  </div>  <!-- END of DIV class=bezel -->
  
  
  <script>
    // To ensure that our function below only loads when our page is ready (and thus avoids having listeners that are listening for actions on not-yet-existent objects on
    // our page), we load our script at the end of the page's source and let the function fire up as soon as the browser has made it down here:
    
    $(function() {      
      // Whenever the hamburger button is clicked, we want our menu to slide out:
      $("#burger").on("click", function() {
        $(".burger-line").toggleClass("open-burger");  // To make our burger orange when the menu is open/displayed
        $("#menu").slideToggle("fast");
      });
      
      // We'll also make the menu list slide up when a menu-item is clicked (and loads a new page) to make the transition between pages appear smoother:
      $(".menu-item").on("click", function() {
        $("#menu").slideUp("fast");
        $(".burger-line").removeClass("open-burger");  // To make our burger white again when the menu is closed
      });
      
      // We'll also want our menu to hide (if it's showing) when we click outside of it:
      $("body").not("#menu").on("click", function(e) {
        // We want this action to NOT (!) be affected by clicks on the hamburger or its hamburger-lines:
        if ( !$("#burger").is(e.target) && !$(".burger-line").is(e.target) ) {
          $("#menu").slideUp("fast");
          $(".burger-line").removeClass("open-burger");  // To make our burger white again when the menu is closed
        };
      });
      
      
      // We'll get the status bar clock going next:
      function clockUpdater() {
        // We'll get the current time...
        let currentTime = new Date()
        // ... from which we'll extract the hours and minutes, making sure to have a leading 0 if either is less than 10 "units"...
        let hours = currentTime.getHours();
        if (hours < 10) hours = "0" + hours;
        let minutes = currentTime.getMinutes();
        if (minutes < 10) minutes = "0" + minutes;
        // ... and with the hours and minutes in hand, the function will update the #clock element on the page:
        $("#clock").text( hours + "h" + minutes );
      };  // END of clockUpdater()

      // We'll run the clock updater once on page load (i.e. when the browser gets down to this line of code) to make sure that the clock is loaded ASAP...
      clockUpdater();
      
      // ... and then we'll have the clock updater function run once every minute to keep the clock updated:
      setInterval( function() {
        clockUpdater();
      }, 60000 );
      
      
      
      
      // We'll now populate our class=boardList DIV with all of the boards that are present in our database/API:
      $.ajax({
        type: "GET",
        url: "/api/boards",
        success: (data) => {          
          // For each board name in our data, we'll create a new link, which we'll then dynamically add to our boardList DIV:
          // To do this, we'll define a temporary array for our links...
          let boardLinks = [];
          // ... to which we'll add a link for each item in our data...
          data.forEach( (item) => {
            boardLinks.push('<a href="/chiclet/' + encodeURIComponent(item) + '" title="Go to the \'' + item + '\' message board">' + item + '</a>');
          });
          // ... and when we have all the links in our array, we'll update the DIV...
          $("#boardList").append( boardLinks.join("") );
          // ... before sliding it out into view (it's hidden by default in our CSS):
          $("#boardList").slideDown();
        }
      });
      
      
      // Finally, we'll want to have more robust form handling than the default behaviour:
      $("form").submit( function(e) {
        // We'll start by preventing the default form submission behaviour...
        e.preventDefault();
        // ... and then submit our ajax HTTP request:
        $.ajax({
          type: "POST",
          url: "/api/threads/" + encodeURIComponent( $(this[name="board"]).val() ),
          data: $(this).serialize(),
          success: (data) => {
            // We'll first handle any server-side data validation errors...
            if ( data.hasOwnProperty("Error") ) {
              return alert(data.Error);
            };
            // ... and if we don't have any server-side-validation errors, we'll redirect the user to the thread's board:
            window.location = "/chiclet/" + encodeURIComponent( $(this[name="board"]).val() );
            
          }
        });  // END of POSTing new thread
      });  // END of form.submit()
      
      
    });  // END of the main script function
  </script>
  
    
  
</body>

</html>